.tab-pane{
    -fx-background-color: #e0ffff;
    -fx-focus-traversable: false;
}

.tab-pane .tab {
    -fx-focus-color: #f0ffff;
    -fx-background-color: #f0ffff;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 6 7;
    -fx-boder-width: 1;
    -fx-border-color: #ccc #ccc #f0ffff #ccc;
    -fx-border-radius: 8 8 0 0;
}

.tab-pane .tab:hover{
    -fx-border-color: #000080 #000080 #f0ffff #000080;
}

.tab-pane .tab:selected:hover{
    -fx-background-color: #e0ffff;
    -fx-border-color: #ccc #ccc #e0ffff #ccc;    
}
.tab-pane .tab:selected{
    -fx-faint-focus-color: #e0ffff;
    -fx-focus-color: #e0ffff;
    -fx-background-color: #e0ffff;
    -fx-border-color: #ccc #ccc #e0ffff #ccc;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #ffffff;
}

.h-box{
    -fx-alignment: center;
}

.footer{
    -fx-background-color: #e0ffff;
}

.my-button{
    -fx-background-color: #87cefa;
    -fx-background-radius: 14;
    -fx-border-width:1;
    -fx-border-radius: 14;
    -fx-border-color: #87cefa;
}

.my-button:hover, .my-button:focused{
    -fx-background-color:#00bfff;
    -fx-border-color: #000080;
}



.listView{
	-fx-background-radius: 20pt;
	-fx-background-insets: 0;
	-fx-padding: 8;
}

.listView .list-cell{
	-fx-background-color: #f0ffff;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-background-radius: 20pt;
	-fx-background-insets: 4;
	-fx-padding: 8;
	-fx-border-color: transparent;
	-fx-border-radius: 20pt;
}

.listView .list-cell:filled{
	-fx-background-color: #00bfff;

	-fx-border-width: 1pt;
	-fx-border-color: #00bfff;

	
}

.listView .list-cell:filled:hover, .listView .listcell:filled:selected{
	-fx-background-color: #00bfff;
	-fx-border-color: #00bfff;

}

.list-view .scroll-bar {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #87cefa;
    -fx-background-insets: 2;
    -fx-background-radius: 10;
}

.list-view .scroll-bar .track {
    -fx-background-color: #e0e0e0;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.my-spinner .increment-arrow-button, .my-spinner .decrement-arrow-button{
    -fx-background-color: #87cefa
}

.my-spinner .increment-arrow-button .increment-arrow, 
.my-spinner .decrement-arrow-button .decrement-arrow,
.choice-box .open-button .arrow{
    -fx-background-color: #000080;
}

