.root{
	-fx-background-color: #e0ffff;
}

.custom-button{
	-fx-background-color:  #87cefa;
	-fx-background-radius: 20pt;
	-fx-border-width: 1pt;
	-fx-border-color: #87cefa;
	-fx-border-radius: 20pt;
}

.custom-button:hover, .custom-button:focused{
	-fx-background-color: #00bfff;
	-fx-border-color: #000080;
}

.taskTable{
    /*
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    */
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
}

.taskTable:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*　ヘッダー部分（カラム設定済み）*/
.taskTable .column-header-background{
    -fx-background-color: transparent;
}

/*　ヘッダー部分（カラム未設定）*/
.taskTable .column-header-background .filler{
    -fx-background-color: transparent;
}
/*　ヘッダー部分（各要素）*/
.taskTable .column-header-background .label{
    -fx-background-color: transparent;
}
/*　ヘッダー部分（全体）*/
.taskTable .column-header{
    -fx-background-color: #87cefb;
    -fx-border-color: #ffffff;
}

.taskTable .column-header .label{
    -fx-text-fill: #ffffff;
}

.taskTable .table-cell{
    -fx-background-color: #f8f2f2;
    -fx-border-color: #ffffff;
}

.taskTable .table-row-cell{
    -fx-background-color: transparent;
}

.taskTable .table-row-cell:odd{
    -fx-background-color: transparent;
}

.taskTable .table-row-cell:selected{
    -fx-background-color: transparent;
}

.todayTaskList{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #ffcdd2;
}

.todayTaskList .list-cell{
    -fx-background-color: #f0ffff;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-background-radius: 10pt;
	-fx-background-insets: 5;
	-fx-border-color: transparent;
	-fx-border-radius: 10pt;

}

.todayTaskList .list-cell:filled{
    -fx-background-color: #87cefa;
    -fx-border-color: transparent;
}

.chatList{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #ffcdd2;
}

.chatList .list-cell:filled:selected {
    -fx-text-fill: #333333; /* 選択時の文字色を黒に固定 */
    -fx-background-color: #e3f8ff; /* 背景色も通常時と同じに固定 */
}

.chatList .list-cell:filled:selected .text {
    -fx-fill: #333333; /* 選択時のテキストノードの色を黒に固定 */
}

.chatList .list-cell {
    -fx-background-color: #e0f4ff; /* 吹き出しの背景色 */
    -fx-background-radius: 15; /* 角の丸み */
    -fx-background-insets: 5;
    -fx-border-color: #E0E0E0; /* 枠線の色 */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-padding: 10; /* 内側の余白 */
    -fx-font-size: 1.1em; /* 文字サイズ */
}

.btnToChat{
    -fx-background-color: transparent;
    -fx-text-size: 10;
}