.root {
    -fx-background-color: linear-gradient(to bottom right, #87cefa, #ffffff);
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
	-fx-background-color: #1e90ff;
    -fx-background-radius: 15;
	-fx-border-radius: 15;
	-fx-border-width: 1pt;
	-fx-border-color: #1e90ff;
}

.button:hover, .button:focused {
    -fx-background-color: #00bfff;
	-fx-border-color: #000080;
}